@font-face {
    font-family: segment;
    src: URL(./CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
    font-family: 'Google Sans', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 340px;
    width: 600px;
}
.side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black {
    background-color: black;
    width: 155px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F94F6D;
    border-radius: 5px;
}

.counter {
    font-family: segment;
    font-size: 90px;
    height: 80px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 155px;
    margin-top: 25px;
}

.add-btn {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    font-family: segment;
    font-size: 18px;
    color: #9AABD8;
}

h3 {
    margin: 10px 0;
}

.reset-btn {
    padding: 10px 20px;
    width: 100px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #9AABD8;
    font-family: segment;
    font-size: 18px;
    color: #9AABD8;
}